@import 'tailwindcss';

@font-face {
  font-family: 'Header Font';
  src: url('./assets/fonts/Shafarik-Regular.ttf') format('ttf');
}
body {
  font-family: 'Header Font', sans-serif;
  background-color: black;
  /* border: #ff0000 5px solid; */
}

canvas {
  /* border: #ff0000 1px solid; */
}
