@import 'tailwindcss';

@font-face {
  font-family: 'Header Font';
  src: url('./assets/fonts/Shafarik-Regular.ttf') format('ttf');
}
body {
  font-family: 'Header Font', sans-serif;
  background-color: black;
}

.color-changing-galaxy-page-canvas {
  /* border: #ff0000 1px solid; */
  transition: transform 0.1s ease-in-out;
}
.neon-world-page-canvas {
  /* border: #ff0000 1px solid; */
  transition: transform 0.1s ease-in-out;
}
